html{
    background-color: #d3ebed;
    box-sizing: border-box;
}

.home{
    background-image : url('images/background.jpg');
    background-size : 100%;
    background-repeat : no-repeat;
    box-sizing: border-box;
}


body{
    padding : 1%;
    margin :1%;
}

header{
    padding : 0%;
    margin : 0%;
    display : flex;
    justify-content : end;
    align-items: center;
}

nav{
    display : inline-block;
    width : 25%;
}

header h1{
    display:inline-block;
    color : #18898d;
    margin-right: auto;
    padding-left : 1%;
    cursor : pointer;
    font-size:300%;
}

.home body header h1{
    display:inline-block;
    color : darkgrey;
    margin-right: auto;
    padding-left : 1%;
    cursor : pointer;
    font-size:300%;
}

nav a{
    text-decoration: none;
    padding : 2px;
    border-radius : 10%;
    margin-left : 2%;
}



.active{
    background-color:rgba(253, 210, 71, 0.9);
    font-size: 125%;
    color:white;
    transition : all 0.3s ease 0s;
}

nav a:hover{
    background-color:rgba(253, 210, 71, 0.6);
    font-size: 125%;
    color:white;
    transition : all 0.3s ease 0s;
}

.club_mail{
    text-align:center;
}

.admin_mails > div{
    display : inline-block;
    width : 45%;
    margin-left:1%;
}

.about{
    margin-top:20%;
    width:100%;
}

.about p{
    font-size : 175%;
    font-weight: bolder;
    color:white;
    background-color: darkgray;
    padding : 0%;
    margin : 3px;
}

.about p a{
    color : #01666b;
    text-decoration: none;
}

.about p a:hover{
    color :rgba(253, 210, 71, 1);
    transition : all 0.2s ease 0s;
}

footer{
    width:100%;
}

footer>a>img{
    width:5%;
    height:5%;
    float: right;
    float:bottom;
}

.announcement{
    display:inline-block;
    width:45%;
    margin-right:auto;
    margin-left:auto;
}

.announcement>img{
    width:30%;
    height:30%;
}

.announcement>p{
    font-size: 110%;
}